{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid  mt-6 ">


    <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
        <div class="row gx-4">
            <div class="col-auto">
                <div class="avatar avatar-xl position-relative">
                    <img src="{{ ASSETS_ROOT }}/img/{{doctor.user.profile_pic}}" alt="profile_image"
                         class="w-100 border-radius-lg shadow-sm">
                </div>
            </div>
            <div class="col-auto my-auto">
                <div class="h-100">
                    <h5 class="mb-1">
                        {{ doctor.user.prenom}} {{doctor.user.nom}}
                    </h5>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">

            </div>
        </div>
    </div>

</div>

<div class="container-fluid  py-4">
    <div class="row gx-4 ">
        <div class="col-7 ">

            <div class=" card card-body blur shadow-blur  mt-1  overflow-hidden">
                <div class="card-header pb-0 p-3">
                    <div class="row">
                        <div class="col-md-8 d-flex align-items-center">
                            <h6 class="mb-0">Profile Information</h6>
                        </div>
                        <div class="col-md-4 text-end">
                            <a href="/editDoctor.html?id={{doctor.id}}" class="text-secondary  font-weight-bold text-xs"
                               data-toggle="tooltip" data-original-title="Edit user">
                                <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip"
                                   data-bs-placement="top" title="Edit Profile"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3">

                    <hr class="horizontal gray-light my-2">
                    <ul class="list-group">
                        <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Nom :</strong>
                            &nbsp; {{doctor.user.nom}}
                        </li>
                        <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Prenom
                            :</strong>
                            &nbsp;{{doctor.user.prenom}}
                        </li>
                        <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Email
                            :</strong>
                            &nbsp;{{doctor.user.email}}
                        </li>
                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Password:</strong>
                            &nbsp;
                            {{doctor.user.password}}
                        </li>
                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Mobile:</strong>
                            &nbsp;
                            {{doctor.user.mobile}}
                        </li>
                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Address:</strong>
                            &nbsp;
                            {{doctor.user.address}}
                        </li>
                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Date admission
                            :</strong> &nbsp; {{doctor.user.admitDate}}
                        </li>
                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Status :</strong>
                            &nbsp;
                            {{doctor.user.status}}
                        </li>
                        <li class="list-group-item border-0 ps-0 pb-0">
                            <strong class="text-dark text-sm">Department :</strong> &nbsp;
                            {{doctor.department}}


                        </li>
                        <li class="list-group-item border-0 ps-0 pb-0">
                            <strong class="text-dark text-sm">Specialty :</strong> &nbsp;
                            {{doctor.specialty}}


                        </li>
                    </ul>
                </div>


            </div>


        </div>
        <div class="col-5">
            <div class=" card card-body blur shadow-blur  mt-1  overflow-hidden">
                <div class="card-header pb-0 p-3">
                    <div class="row">
                        <div class="col-md-8 d-flex align-items-center">
                            <h6 class="mb-0">Rooms</h6>
                        </div>
                         <div class="col-md d-flex align-items-center">
                            <h6 class="mb-0">Total : {{nbrooms}}</h6>
                        </div>

                    </div>
                </div>

                <div class="col-md-8 mt-3 d-flex  text-sm align-items-center">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Number</th>
                            <th scope="col">Beds</th>


                        </tr>
                        </thead>
                        <tbody>
                        {% for room in rooms %}
                        <tr>
                            <td>{{room.id}}</td>
                            <td>{{room.number}}</td>
                            <td>{{room.nbBeds}}</td>

                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>


                </div>


            </div>
            <div class=" card card-body blur shadow-blur  mt-1  overflow-hidden">
                <div class="card-header pb-0 p-3">
                    <div class="row">
                        <div class="col-md-8 d-flex align-items-center">
                            <h6 class="mb-0">Patients</h6>
                        </div>

                        <div class="col-md d-flex align-items-center">
                            <h6 class="mb-0">Total : {{nbpatients}}</h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 mt-3 d-flex  text-sm align-items-center">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Prenom</th>
                            <th scope="col">Nom</th>


                        </tr>
                        </thead>
                        <tbody>
                        {% for patient in patients %}
                        <tr>
                            <td>{{patient.id}}</td>
                            <td>{{patient.user.prenom}}</td>
                            <td>{{patient.user.nom}}</td>

                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>


                </div>


            </div>
        </div>
    </div>


    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
